<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here is the information</title>
</head>
<body>
    print something <br>
    the id is {{ No }}

    <ul>

    <li>'Discrip': {{ Discrip }} </li>
    <li>'ImgLink': {{ ImgLink }} </li>
    <li>'Ingredients': {{ Ingredients }} </li>
    <li>'No': {{ No }} </li>
    <li>'Price': {{ Price }} </li>
    <li>'ProLink': {{ ProLink }} </li>
    <li>'RMB': {{ RMB }} </li>
    <li>'Review': {{ Review }} </li>
    <li>'Title' {{ Title }} </li>

    </ul>


</body>
</html>